<% if logged_in? %>
  <h1>タスクリスト</h1>
  <%= render "tasks", tasks: @tasks %>
  <%= link_to "新規タスクの登録", new_task_path, class: "btn btn-primary" %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>タスクリスト課題</h1>
      <%= link_to "ユーザ登録", signup_path, class: "btn btn-primary"%>
    </div>
  </div>
<% end %>